@font-face{
    font-family: 'Poppins-semibold';
    src: url(../fonts/Poppins-SemiBold.otf);
}

.search-filter-flexbox{
    display: none;
    margin-left: 112px;
    margin-top: 40px;
}
.search-agents{
    width: 310px;
    height: 53px;
}
.filter-agents-flexbox{
    width: 1178px;
    height: 176px;
    margin-top: 20px;
    border:1px solid #707070;
    border-radius: 5px;
}

.search-field{
    width: 310px;
    height: 200px;
}

.skills-field{
    width: 300px;
    height: 53px;
    margin-left: 20px;
}

.filter-field{
    width: 300px;
    height: 53px;
    margin-left: 20px;
}

.damage-field{
    width: 300px;
    height: 53px;
    margin-left: 20px;
}

.filter-button{
    width: 142px;
    height: 53px;
    background-color: #e13157;
    color: #ffffff;
    margin-left: 20px;
}

h4{
    margin-left: 20px;
    font-family: 'Poppins-semibold';
    font-size: 18px;
    color: #ffffff;
}