@font-face{
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.otf);
}

@font-face{
    font-family: 'Poppins-Italic';
    src: url(../fonts/Poppins-Italic.otf);
}

@font-face{
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face{
    font-family: 'Poppins-Light';
    src: url(../fonts/Poppins-Light.otf);
}

@font-face{
    font-family: 'Poppins-semibold';
    src: url(../fonts/Poppins-SemiBold.otf);
}

@font-face{
    font-family: 'Roboto-regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face{
    font-family: 'Roboto-italic';
    src: url(../fonts/Roboto-Italic.ttf);
}

hr{
    opacity: 75%;
    margin-top: 10px;
}

h1{
    color: #ffffff;
    font-family: 'Poppins-light';
    font-size: 40px;
    font-style: italic;
    line-height: 52px;
}

body{
    background-color: #0d161f;
}

.header{
    background-image: url(../images/Grupo\ 523.png);
    background-size: cover;
    width: 100%;
    height: 768px;
    font-family: 'Poppins-Regular';
}

.header-flexbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-div1{
    flex-basis: auto;
    margin-top: 16px;
    margin-left: 112px;
}

.header-logo1{
    width: 87px;
    height: 57px;
}

.header-div2{
    flex-basis: auto;
    margin-top: 35px;
}

.header-list{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}

.header-list li{
    display: inline-block;
}

.header-links-style{
    text-decoration: none;
    color: #ffffff;
    margin-left: 24px;
    margin-right: 24px;
}

.header-div3{
    flex-basis: auto;
    margin-top: 35px;
    margin-right: 113px;
}

.header-button{
    width: 131px;
    height: 36px;
    padding: 8px 16px;
    background: #e13157 no-repeat;
    font-size: 14px;
    text-decoration: none; 
    color: #ffffff;
    border-radius: 5px;
    border: 1px #e13157;
}

.header-flexbox2{
    display: flex;
    flex-direction:row;
    justify-content:center;
}

.header-div4{
    margin-top: 525px;
}

.header-logo2{
    width: 712px;
    height: 128px;
}

.background-images-agents{
    width: 100%;
    height: 100%;
    background-image: url(../images/Retângulo\ 90.svg), url(../images/valorant-ep1-ato3-publi.png);
    background-size: fixed;
    opacity: 0.06;
    position: absolute;
}

.agents-title h1{
    margin-left: 113px;
    font-size: 40px;
}

.agents-title{
    margin-top: 128px;
}

.agents-flexbox{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 39px;
    margin-left: 112px;
    margin-bottom: 280px;
    position: relative;
}

.agents-flexbox p:only-of-type{
    font-family: 'Poppins-medium';
    font-size: 24px;
    color: #ffffff;
    margin-top: 251px;
    text-align: center;
}

.agent-div{
    width: 250px;
    height: 300px;
    margin-right: 44px;
    margin-bottom: 29px;
    padding: 5px;
    border: 1px solid #133052;
    cursor: pointer;
}

.agent-div:hover{
    width: 250px;
    height: 300px;
    margin-right: 44px;
    margin-bottom: 29px;
    padding: 5px;
    border: 1px solid #e13157;    
}

.agent-img{
    position: absolute;
}

.agent{
    width: 250px;
    height: 300px;
    border: 1px solid #133052 ;
    background: linear-gradient(180deg, transparent 65%, #26262600, #1a1a1abf, #090909);
    position: absolute;
}

.agent:hover{
    width: 250px;
    height: 300px;
    border: 1px solid #133052 ;
    background: linear-gradient(180deg, #E1315712 70%, #e1315775, #e13157);
}

.add-div-text{
    display: none;
    width: 260px;
    height: 310px;
    border: 1px solid #e13157;
    background-image: url(../images/Caminho\ 261.svg);
    background-repeat: no-repeat;
    background-position-x: 56px;
    background-position-y: 146.02px;
    margin-right: 44px;
    margin-bottom: 29px;
    cursor: pointer;
}

.seeall-div-text{
    width: 260px;
    height: 310px;
    border: 1px solid #e13157;
    background-image: url(../images/Caminho\ 243.svg);
    background-repeat: no-repeat;
    background-position-x: 56px;
    background-position-y: 146.02px;
    margin-right: 44px;
    margin-bottom: 29px;
    cursor: pointer;
}

h2{
    font-family: 'Poppins-medium';
    font-size: 24px;
    color: #e13157;
    margin-left: 91px;
    margin-top: 141px;
}

.background-image{
    background-image: url(../images/valorant-game-logo-4k-wi-2048x2048.png);
    background-position: center;
}

hr{
    border-color: #e13157;
}
.red-line-1{
    width: 60%;
}

.red-line-2{
    width: 60%;
    margin-left: 40%;
}

.section1{
    width: 100%;
    height: 620px;
}

.section1 h1{
    margin-left: 113px;
}

.carousel-0{
    width: 100%;
    height: 500px;
    margin-top: 38px;
    margin-left: 112px;
    overflow-y: hidden;
}

.maps-images{
    display: flex;
    flex-direction: row;
}

.image-map{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.carousel-0 figure{
    width: 100%;
    margin: 0px 30px 0px 0px;
}

.section1 p{
    font-family: 'Poppins-Medium';
    font-size: 24px;
    color: #e13157;
    float: right;
    margin-top: 34px;
    margin-right: 34px;
}
/*-----------------------------------------*/

.section2{
    width: 100%;
    height: 972.02px;
    margin-top: 169.98px;
}

.title-flexbox{
    display: flex;
    flex-direction: row;
}

.title-div h1{
    font-family: 'Poppins-light';
    font-size: 40px;
    margin-left: 112px;
    line-height: 38px;
}

.target-image-div{
    margin-top: 5px;
    margin-left: 40px;
}

.target-image{
    width: 79.03px;
    height: 79.03px;
}

.gallery-guns h3{
    font-family: 'Poppins-Regular';
    font-size: 24px;
    color: #ffffff;
    margin-top: 45px;
    margin-left: 112px;
}

.gallery-guns-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.carousel-1, .carousel-2, .carousel-3{
    width: 425.5px;
    height: 195px;
    margin-top: 38px;
    margin-left: 63px;
}

.slideshow-1, .slideshow-2, .slideshow-3{
    position: relative;
}

.guns-images{
    width: 325px;
    height: 194px;
    margin-left: 49.53px;
    border: 1px solid #ffffff;
}

.carousel-1 figure, .carousel-2 figure,.carousel-3 figure{
    opacity: 0;
    transition: 1s opacity;
    width: 100px;
    position: absolute;
}

.carousel-1 figure{
    top: 25px;
}

.carousel-2 figure{
    top: 45px;
    right: 210px;
}

.carousel-3 figure{
    bottom: -18px;
    left: 75px;
    
}

.carousel-1 figure.show, .carousel-2 figure.show, .carousel-3 figure.show{
    opacity: 1;
}

.prev, .next{
    position: absolute;
    top: 87px;
    cursor: pointer;
}

.prev{
    left: 10px;
}
.next{
    right: 10px;
}

.image-agent-with-gun{
    width: 530px;
    height: 813px;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 140px;
}

.section3{
    width: 100%;
    height: 732.95;
    font-family: 'Poppins-light';
    color: #ffffff;
    margin-top: 400.53px;    
}

.section3 h1{
    font-size: 48px; 
}


.section3-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 733px;
}

.download-content{
    flex-basis: auto;
    width: 565px;
    margin-top: 143px;
    margin-left: 113px;
}

.download-content p{
    font-size: 24px;
    margin-left: 57.86px;
    margin-bottom: 30px;
}

.first-p{
    margin-top: 62px;
    background: no-repeat;
    background-image: url(../images/Caminho-250.png);
}

.second-p{
    background: no-repeat;
    background-image: url(../images/Caminho-246.png);
}

.third-p{
    background: no-repeat;
    background-image: url(../images/Caminho-247.png);
}

.game-image-div{
    flex-basis: auto;
    width: 663px;
    height: 733px;
    margin-left: 94.2px;
    margin-right: 112px;
}

.game-image{
    width: 663px;
    height: 733px;
}

.download-button-div{
    margin-top: 58px;
}

.download-button{
    padding: 8px 32px 8px 70px;
    background: #e13157 no-repeat;
    background-image: url(../images/Caminho-249.png);
    background-position-x: 32px;
    background-position-y: 8px;
    font-size: 14px;
    text-decoration: none; 
    color: #ffffff;
    border-radius: 5px;
    border: 1px #e13157;
}

.section4{
    width: 100%;
    height: 1090.53px;;
}

.section4-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1158px;
    height: 685px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 305.53px auto 100px auto;
}

.forms-support-div{
    width: 724px;
    margin-top: 50px;
    margin-left: 50px;
}

.forms-support-div h1{
    color: #04254c;
    line-height: 0;
    font-family: 'Poppins-light';
    font-size: 48px;
}

.support-form input::placeholder{
    color: #133052;
    padding-top: 16px;
    position: absolute;
}

textarea::placeholder{
    color: #133052;
    position: absolute;
}

.support-form{
    margin-top: 80px;
}

.support-name-field, .support-lastname-field, .support-nick-name-field, .support-subject-field, .support-description-field{
    font-family: 'Roboto-regular';
    font-size: 16px;
    border: 1px solid #133052;
    border-radius: 5px;
    padding-left: 16px;
}

.support-name-field{
    width: 327px;
    height: 50px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.support-lastname-field{
    width: 327px;
    height: 50px;
    margin-bottom: 24px;
}

.support-e-mail-field{
    font-family: 'Roboto-regular';
    font-size: 16px;
    border: 1px solid #133052;
    border-radius: 5px;
    margin-right: 24px;
    margin-bottom: 21px;
    width: 327px;
    height: 50px;
    padding-left: 16px;
}

.support-nick-name-field{
    width: 327px;
    height: 50px;
    margin-bottom: 24px;
}

.support-subject-field{
    width: 704px;
    height: 50px;
    margin-bottom: 24px;
}

.support-description-field{
    width: 704px;
    height: 126px;
    padding-top: 16px;
    resize: none;
}

.image-support-div{
    margin: 218px 34px 151px 34px;
    width: 316px;
    height: 316px;
}

.image-character{
    width: 316px;
    height: 316px;
}

.send-support-button-div{
    width: 143px;
    height: 53px;
    float: right;
    margin-top: 54px;
}

.send-support-button{
    font-family:'Poppins-medium';
    padding: 14px 44px;
    background: #e13157;
    font-size: 18px;
    text-decoration: none; 
    color: #ffffff;
    border-radius: 5px;    
}


