@font-face{
    font-family: 'newfont';
    src: url(../fonts/newfont);
}

@font-face{
    font-family: 'newfont';
    src: url(../fonts/newfont);
}

@font-face{
    font-family: 'newfont';
    src: url(../fonts/newfont);
}